*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

.top{
    background-color: #AED8E6;
    text-align: center;
    padding-bottom: 15px; /* skoða padding á top betur */
    border: solid black 1.5px;
    border-radius: 10px;
}

div button{
    background-color: transparent;
    border: none;
}

div input{
    color: gray;
    padding: 0.5px,0.5px;
    border: solid 1px;
    border-color: lightgray;
    
}

div a{
    color: black;
    font-size: 7mm;
    margin: 50px;
}


h3{
    white-space: nowrap;
}

.p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
    background-color: #AED8E6;
    border: solid black 1px;
    border-radius: 10px;
    height: 200px;
    font-size: 10px;
    margin: 0px;
}

div{
    margin: 0px;
}


header{
    padding-bottom: 20px;
}


img{
    float: inline-start;
}

@media screen and (max-width: 650px){
    #Person{
        width: 400px;
    }
    #Personimg{
        display: none;
    }
}

@media screen and (max-width: 651px){
    #Person{
        width: 300px;
    }
    #Personimg{
        width: 65px;
        height: auto;
    }
}

@media screen and (max-width: 1000px){
    #Person{
        width: 300px;
    }
    #Personimg{
        width: 65px;
        height: auto;
    }
}

@media screen and (min-width: 1001px){
    #Person{
        width: 220px;
    }
    #Personimg{
        width: 45px;
        height: auto;
    }
}

.bottom{
    display: flex;
    display: inline-block;
    background-color: #AED8E6;
    padding: 30px; /* skoða padding á top betur */
    border: solid black 1.5px;
    border-radius: 10px;
    width: 80%;

}

.AboutUs{
    width: 50%;
    float: left;
    text-align: left;
}

.Contact{
    width: 50%;
    float: right;
    text-align: right;
}
