*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.hirefire{
    margin-bottom: 3%;
}

.top{
    background-color: #AED8E6;
    text-align: center;
    padding-bottom: 15px;
    border: solid black 1.5px;
    border-radius: 10px;
}

div button{
    background-color: transparent;
    border: none;
    margin-left: 5px;
    font-size: 10px;
}

div input{
    color: gray;
    border: solid 1px;
    border-color: lightgray;
    padding: 3px;
    font-size: 10px;
}

div a{
    color: black;
    font-size: 7mm;
    margin: 50px;
}


.allPerson{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.perBox{
    background-color: #AED8E6;
    border: solid black 1.5px;
    border-radius: 10px;
    height: 200px;
    font-size: 10px;
    margin: 2%;
}

.left {
    width: 30%;
    display: inline-block;
}

.right {
    margin-top: 2%;
    width: 70%;
    font-size: 15px;
    float: right;
}

.right p{
    margin: 7%;
}

.left p {
    font-size: 20px;
    text-align: center;
    margin-top: 15%;
    font-weight: 500;
}


header{
    margin-bottom: 2%;
}


img{
    width: 65%;
    height: auto;
    margin-left: 20%;
    margin-top: 7%;

}

.bottom{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.infoBox{
    background-color: #AED8E6;
    padding: 30px; 
    border: solid black 1.5px;
    border-radius: 10px;
    width: 80%;
    display: flex;
}

.AboutUs{
    width: 50%;
    float: left;
    text-align: left;
}

.Contact{
    width: 50%;
    float: right;
    text-align: right;
}

.Contact a{
    margin: 0px;
    font-size: 16px;
}

.hamburger{
    display: none;
}

.name p{
    display: none;
}

span{
    font-weight: 500;
}

@media (min-width: 1001px){
    .perBox{
        width: 220px;
        margin: 1%;
    }
}

@media (max-width: 1000px){
    .perBox{
        width: 300px;
        margin: 1.7%;
    }
}

@media (max-width: 650px){
    .perBox{
        width: 400px;
    }
    img{
        display: none;
    }
    .hirefire{
        display: none;
    }
    .Search{
        display: none;
    }
    .left {
        display: none;
    }
    .hamburger{
        display: contents;
        font-size: 50px;
        justify-content: center;
    }
    .right{
        width: 100%;
        margin-top: 5%;
        font-size: 20px;
        text-align: center;
    }
    .right p{
        margin: 3%;
    }
    .name p{
        display: contents;
        text-align: center;
        font-size: 25px;
        font-weight: 500;
    }
}

@media only print {
    body{
        font-family: 'Ibarra Real Nova', serif;

    }

    .top .hirefire{
        display: block;
        margin-top: 5px;
    }

    .top .Search{
        display: block;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .perBox{
        width: 300px;
        margin: 0%;
        margin-left: 0.25%;
        margin-right: 0.25%;
    }
    img{
        display: none;
    }
    .hamburger {
        display: none;
    }

    header {
        justify-content: center;
        margin-bottom: 0%;
    }
    .left {
        display: none;
    }
    .right{
        width: 100%;
    }
    .bottom {
        margin-top: 0%;
    }
    .allPerson {
        margin: 0%;
    }
    span{
        font-weight: bold;
    }
    .name p{
        display: contents;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }

    input{
        width: 150px;
        height: 15px;
        text-align: left;
        margin-left: 2px;
    }
}
